/* Fonts */

@font-face {
    font-family: impact;
    src: url(../font/impact/impact.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: indie;
    src: url(../font/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: oswald;
    src: url(../font/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: sulphur;
    src: url(../font/Sulphur_Point/SulphurPoint-Regular.ttf);
}

/* Base */

*{
    box-sizing: border-box;
}

html{
    font-family: impact;
    color: #040a2c;
    line-height: 20px;
}

body{
    margin: 0;
    font-size: 1rem;
}

header{
    background-color: #005e90;
}

main{
    background-color: #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

 .images-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));;
    gap: 10px;
} 

.canvas-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    min-width: 200px;
    min-height: 200px;
} 

/* navbar */

nav {
    height: 80px;
    font-family: montserrat,sans-serif;
} 

.main-logo{
    height: 2.5rem;
    cursor: pointer;    
}

.main-menu a{
    color: #fff;
    letter-spacing: 0.8px;
}

.main-menu li:not(:last-child) a {
    border-right: solid 1px #a9a9a9;
    padding-right: 16px;
}

.main-menu a:hover{
    color: #040a2c;
}

nav li {
    width: 85px;
    text-align: end;
    line-height: 80px;
    font-size: 1.2rem;
}

.menu-btn{
    display: none;
    cursor: pointer;
    font-size: 1.9rem;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

/* search-bar */

.search-bar {
    font-family: montserrat,sans-serif;
    height: 100px;
    font-size: 1rem;
}

.search-input[type="search"]
{
  font-size:1.2rem;
}

.search-input{
    height: 22px;
    border: none;
    outline: none;
    width: 216px;
}

.search{
    border-bottom: solid 2px;
    width: 236px;
}

.search-input::placeholder {
    font-size: 1.2rem;
  }

.keywords-container {
    /* margin-right: 40px; */
    display: flex;
}

.keywords-container .keyword {
    cursor: pointer;
    margin-right: 10px;
}

.keywords-container .keyword:last-child {
    margin-right: 0;
}

/* canvas */

.canvas-container {
    justify-content: space-around;
}

.toolbar-container{
    padding-left: 30px;
}

.canvas-toolbar {
    display: grid;
    gap: 20px 15px;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(5, 50px);
    grid-template-areas:
        "text text text text text"
        ". switch addLine delete ."
        "increase decrease color lineUp lineDown"
        "fontSelect fontSelect alignStart alignCenter alignEnd"
        ". . download . .";
}

.toolbar-text::placeholder {
    line-height: 35px;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
  }

.toolbar-text{
    grid-area: text;
    border: solid 1px #fff;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: 1.5rem;
}

.toolbar-btn {
    cursor: pointer;
    height: 50px;
    border: none;
    width: 50px;
    background-color: #fff;
    border: solid 2px white;
    border-radius: 12px;
}

.font-select-btn{
    grid-area: fontSelect;
    border: solid 1px #fff;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: 1.5rem;
}


.align-end-btn{
    grid-area: alignEnd;
}

.align-center-btn{
    grid-area: alignCenter;
}

.align-start-btn{
    grid-area: alignStart;
}

.line-up-btn{
    grid-area: lineUp;
    font-size: 18px;
}

.line-down-btn{
    grid-area: lineDown;
    font-size: 18px;
}

.delete-line-btn{
    grid-area: delete;
    padding: 3px;
}

.add-line-btn{
    grid-area: addLine;
    padding: 3px;
}

.increase-font-btn{
    grid-area: increase;
    font-size: 18px;
    padding: 1px;
}

.decrease-font-btn{
    grid-area: decrease;
    font-size: 18px;
    padding: 1px;
}

.switch-line-btn{
    grid-area: switch;
    padding: 3px;
}

.color-btn{
    grid-area: color;
    font-size: 25px;
    padding-top: 11px;
    text-align: center;
}

.download-btn{
    grid-area: download;
    font-size: 18px;
    padding: 1px;
}

/* about */

.about{
    height: 400px;
    font-family: montserrat,sans-serif;
}

.rounded-img-container{
    flex: 2;
    min-width: 200px;
    max-width: 250px;
    flex-grow: 2;
}

.rounded-img{
    border-radius: 50%;
    width: 100%;
}

.about-container{
    margin: 30px;
}

.about-context {
    max-width: 400px;
    margin-left: 40px;
    flex: 3;
    flex-grow: 3;
}

.logo-container{
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.logo-container i{
    color: white;
    line-height: 40px;
}

.facebook .logo-container:hover{
    background-color: #516fad;
}
.github .logo-container:hover{
    background-color: #24292e;
}

/* footer */
   
footer{
    height: 200px;
    background-color: #005e90;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    width: 160px;
}

footer small {
    font-size: 0.8rem;
}


/* Media Queries */

@media (max-width: 1200px) {
    #my-canvas {
        width: 400px; 
    }
}    


@media (max-width: 1100px) {

    .search-bar.container {
        flex-direction: column;
        padding: 0px;
    }

    .search-bar .search {
        margin-top: 14px;
        margin-left: 0;
    }

    .keywords-container {
        margin-bottom: 19px;
        margin-right: 0;
    }

    .about-context h2 {
        font-size: 1.3rem;
    }

    .about-context p {
        font-size: 0.9rem;
    }
}

@media (max-width: 900px) {

    .about-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .rounded-img-container {
        min-width: 160px;
        max-width: 160px;
    }
    .about-context h2 {
        font-size: 1.2rem;
    }
    .about-context p {
        font-size: 0.8rem;
    }
    .about-context {
        text-align: center;
        margin-left: 0; 
    }
}

@media (max-width: 800px) {

    .canvas-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #my-canvas {
        width: 375px;
        margin-bottom: 32px;
    }

    .toolbar-container {
        padding-left: 0;
    }

}
@media (max-width: 700px) {

    nav.container {
        padding: 10px;
    }

    .menu-btn{
        display: block;
    }

    .main-content {
        padding: 35px 35px;
    }

    .main-menu {
        flex-direction: column;
        position: fixed;
        right: -28px;
        top: -15px;
        height: 100vh;
        background: #005e90;
        border-left: none;
        width: 230px;
        z-index: 1;
        transform: translate(100%, 0);
        transition: transform 1.2s;
    }

    .menu-open .main-menu {
        transform: translate(0, 0);
    }

    .main-menu li{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .main-menu a {
        display: inline;
        padding: 0;
        line-height: 85px;
    }

    .main-menu li:not(:last-child) a {
        border-right: none; 
        padding-right: 0; 
    }
}

@media (max-width: 615px) {

    .images-container {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .images-container img {
        min-width: 150px;
        min-height: 150px;
    }
}

@media (max-width: 515px) {

    .main-logo {
        height: 2rem;
    } 

    .menu-btn {
        font-size: 1.7rem;
    }

    .images-container img {
        min-width: 100px;
        min-height: 100px;
    }

    .about-context h2 {
        font-size: 1.1rem;
    }

    .about-context p {
        font-size: 0.7rem;
    }

    .about {
        height: 450px;
    }

    #my-canvas {
        width: 250px;
        margin-bottom: 18px;
    }

    .canvas-toolbar {
        gap: 11px 10px;
        grid-template-rows: repeat(5, 35px);
        grid-template-columns: repeat(5, 35px);
    }

    .toolbar-btn {
        height: 35px;
        width: 35px;
    }

    .line-up-btn {
        font-size: 12px;
    }

    .line-down-btn {
        font-size: 12px;
    }

    .color-btn {
        font-size: 19px;
        padding-top: 6px;
    }

    .font-select-btn {
        font-size: 1.1rem;
    }

    .download-btn {
        font-size: 12px;
        padding: 1px;
        padding-left: 2px;
    }
}

@media (max-width: 375px) {

    .search-bar .search {
        margin-top: 38px;
    }

    .keywords-container {
        display: none;
    }
}


/* Layout */


.container{
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 200px;   
}

/* screens */

.screen {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1;
    transition: opacity .6s;
}

.menu-open .screen {
    visibility: visible;
    opacity: 1;
}

/* Helpers */

.hidden {
    display: none;
}

/* flex helpers */


.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-content{
    justify-content: center;
}


/* list helpers */


.clean-list {
    padding: 0;
    list-style-type: none;
}
