/* Fonts */

@font-face {
    font-family: impact;
    src: url(../font/impact/impact.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

/* Base */

*{
    box-sizing: border-box;
}

html{
    font-family: impact;
    color: #040a2c;
    line-height: 20px;
}

body{
    margin: 0;
    font-size: 1rem;
}

main{
    background-color: #e3e3e3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

 .images-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));;
    gap: 10px;
} 

.canvas-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    min-width: 200px;
    min-height: 200px;
} 

/* navbar */

nav {
    height: 80px;
    background-color: #ff7f00;
    font-family: montserrat,sans-serif;
} 

.main-logo{
    height: 2.5rem;
    margin-left: 22px;
    cursor: pointer;    
}

.main-menu{
    margin-right: 28px;
}

.main-menu a{
    color: #fff;
    letter-spacing: 0.8px;
}

.main-menu li:not(:last-child) a {
    border-right: solid 1px #a9a9a9;
    padding-right: 11px;
}

.main-menu a:hover{
    color: #040a2c;
}

nav li {
    width: 85px;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
}

/* search-bar */

.search-bar {
    font-family: montserrat,sans-serif;
    height: 100px;
    font-size: 1.2rem;
}

.search-input[type="search"]
{
  font-size:1.2rem;
}

.search-input{
    height: 22px;
    border: none;
    outline: none;
    width: 216px;
}

.search{
    border-bottom: solid 2px;
    margin-left: 25px;
    width: 236px;
}

.search-input::placeholder {
    font-size: 1.2rem;
  }

.keywords-container {
    margin-right: 40px;
}

/* toolbar */

.toolbar-container{
    margin: 0 auto;
    width: 350px;
    padding-left: 50px;
}

.canvas-toolbar {
    display: grid;
    gap: 20px 10px;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(5, 50px);
    grid-template-areas:
        "text text text text text"
        ". switch addLine delete ."
        "increase decrease color lineUp lineDown"
        ". alignStart alignCenter alignEnd ."
        ". . download . .";
}

.toolbar-text::placeholder {
    line-height: 35px;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
  }

.toolbar-text{
    grid-area: text;
    border: solid 1px #fff;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    font-size: 1.5rem;
}

.toolbar-btn {
    cursor: pointer;
    height: 50px;
    border: none;
    width: 50px;
    background-color: #fff;
    border: solid 2px white;
    border-radius: 12px;
}

.align-end-btn{
    grid-area: alignEnd;
}

.align-center-btn{
    grid-area: alignCenter;
}

.align-start-btn{
    grid-area: alignStart;
}

.line-up-btn{
    grid-area: lineUp;
    font-size: 18px;
}

.line-down-btn{
    grid-area: lineDown;
    font-size: 18px;
}

.delete-line-btn{
    grid-area: delete;
    padding: 3px;
}

.add-line-btn{
    grid-area: addLine;
    padding: 3px;
}

.increase-font-btn{
    grid-area: increase;
    font-size: 18px;
    padding: 1px;
}

.decrease-font-btn{
    grid-area: decrease;
    font-size: 18px;
    padding: 1px;
}

.switch-line-btn{
    grid-area: switch;
    padding: 3px;
}

.color-btn{
    grid-area: color;
    font-size: 25px;
    padding-top: 11px;
    text-align: center;
}

.download-btn{
    grid-area: download;
    font-size: 18px;
    padding: 1px;
}

/* about */

.about{
    height: 450px;
    font-family: montserrat,sans-serif;
}

.rounded-img-container{
    flex: 2;
    min-width: 150px;
    max-width: 315px;
    flex-grow: 2;
}

.rounded-img{
    border-radius: 50%;
    width: 100%;
}

.about-container{
    margin: 30px;
}

.about-context {
    margin-left: 40px;
    flex: 3;
    flex-grow: 3;
}

.logo-container{
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.logo-container i{
    color: white;
    line-height: 40px;
}

.facebook .logo-container:hover{
    background-color: #516fad;
}
.github .logo-container:hover{
    background-color: #24292e;
}

/* footer */
   
footer{
    height: 210px;
    background-color: #ff7f00;
}

.footer-logo {
    width: 160px;
}

footer small {
    font-size: 0.8rem;
}



/* Layout */


.container{
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

/* Helpers */

.hidden {
    display: none;
}

/* flex helpers */


.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-content{
    justify-content: center;
}


/* list helpers */


.clean-list {
    padding: 0;
    list-style-type: none;
}
