/* Fonts */

@font-face {
    font-family: impact;
    src: url(../font/impact/impact.ttf);
}

/* Base */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav {
    height: 70px;
    background-color: orange;
}

.search-bar {
    height: 100px;
}

 .images-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));;
    gap: 10px;
} 

.canvas-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    min-width: 200px;
    min-height: 200px;
} 

/* helpers */

.hidden {
    display: none;
}